body { 
  background-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameCanvas {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#platform, #movingPlatform, #background, #player {
  display: none;
  background-color: transparent;
}

.gameOverCard, .mainMenuCard {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.settingsCard, .instructionsCard {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
h2 {
  font-family: 'seriousr4b', sans-serif;
  justify-content: absolute;
}
p {
  font-family: 'seriousr4b', sans-serif;
  padding-bottom: 8%;
  display: block;
  line-height: 1.4;
  font-size: small;
}